@using PagedList
@using PagedList.Mvc
@model IPagedList<OmurBlog.Models.Makaleler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MakalelerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MakalelerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MakalelerId })
        </td>
    </tr>
}

</table>

<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithPageCountText)
</div>
<script src="~/Content/jquery.js"></script>
<script src="~/Content/custom.js"></script>
<script src="~/Content/paginate.js"></script>
